<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952757939735-2mdvkq2gaggbcd7s7736kmp2l81reu2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952757939735-2mdvkq2gaggbcd7s7736kmp2l81reu2a</string>
	<key>API_KEY</key>
	<string>AIzaSyC9gIMtgZxKkcaP-t4ZR4vmGVVmD7aXT88</string>
	<key>GCM_SENDER_ID</key>
	<string>952757939735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sammyhelali.simplechat</string>
	<key>PROJECT_ID</key>
	<string>simple-chat-eb4e7</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-chat-eb4e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952757939735:ios:98a092a56623d3f7c7f652</string>
	<key>DATABASE_URL</key>
	<string>https://simple-chat-eb4e7.firebaseio.com</string>
</dict>
</plist>